version: "3.9" 


services: 

  app: 

    build: . 
    expose: 
      - "5003"
    environment: 
      - LOCAL_HOST=redis 
      - LOCAL_PORT=6379

    depends_on:
      - redis



  redis:

    image: "redis:8.4"
    ports:
      - "6379:6379"

    volumes:
      - "redis-data:/data" 




  nginx:

    image: "nginx:latest"

    ports:
    - "5003:5003"

    volumes:

      - ./nginx.conf:/etc/nginx/nginx.conf:ro


    depends_on:
      - app



volumes:
  redis-data:
